.app-container {
  min-width: 1196px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f3f6fd;;
  transition: 0.2s;
  max-width: 1800px;
}

.projects-section {
  margin-bottom: 25px;
}

.messages p {
  margin: 20px;
}

.grid {
  margin: 50px 25px 0 25px;;
}

.button-wrapper {
  margin: 15px 25px;
  padding: 10px;
  /*overflow-y: scroll;
  max-height: 400px;*/
}


label, .upload-btn {
  cursor: pointer;
  background: #132051;
  cursor: pointer;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
}

#upload-images {
  opacity: 0;
  position: relative;
  z-index: 1;
  top: -50px;
}

.files {
  display: flex;
  font-size: 12px;
  position: relative;
  top: -5px;
}

.files span {
  margin-right: 20px;
}

button {
  border: none;
}

.upload-btn:disabled {
  opacity: 0.75;
  background: #ccc;
}
.grid {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #363344;
}
.photo-row {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.photo-row img {
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.photo-row {
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  color: #45556f;
  color: #363344;
  font-size: 14px;
}


.photo-row .filename {
  margin-left: 10px;
  font-size: 14px;
  min-width: 400px;
}
.photo-row .created {
  margin-left: 20px;
}
.photo-row .size {
  margin-left: 20px;
}
.photo-row .uploader {
  margin-left: 20px;
  margin-right: 20px;
}
.photo-row div:last-child {
  margin-left: auto;

}

.upload-file {
  cursor: pointer;
  text-align: center;
  align-self: center;
  position: relative;
  /*border-bottom: 1px solid var(--message-box-border);*/
  margin-bottom: 35px;
}
.upload-file input {
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
h6 {
  color: #45556f;
  text-transform: uppercase;
  font-weight: 700;
}

app-error, app-success {
  position: relative;
  top: -7px;
  left: 12px;
}

.progress-wrapper {
  display: flex;
}

.progress {
  width: 90%;
}

.progress-bar {
  background-color: #46bcec;
}

.message {
  display: flex;
  font-size: 12px;
  position: relative;
  top: -5px;
  width: 90%;
}
.file-list {
  margin-bottom: 15px;

}

.messages-section {
  width: 374px;
}

.status {
  background-color: #46bcec;
  border-radius: 10px;
  padding: 1px 10px;
  color: #fff;
  margin-right: 15px;
}

.last-el-grid {
  display: flex;
  flex-direction: row;
}

.map-link {
  margin-right: 20px;
}

.grid-pagination /deep/ ul, ol {
  padding-left: 0px;
}

pagination-controls /deep/ .ngx-pagination {
  padding: 0;
  margin: 40px auto;
  text-align: center;
}

pagination-controls /deep/ .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #46bcec;
  color: #fefefe;
  cursor: default;
}

pagination-controls {
  margin-bottom: 200px;
}

.created {
  min-width: 125px;
}

