.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f3f6fd;;
  transition: 0.2s;
  max-width: 1800px;
}

app-upload {
  margin: 0 auto;
  width: 360px;
}
