<div class="container">

  <div class="logo-wrapper">
      <!--<img src="assets/images/logo-login.jpg"> -->
      <h2><strong>Eterios</strong></h2>
  </div>

  <div class="contact-form">
      <form [formGroup]="createForm" (ngSubmit)="create()">
          <div class="input-group">
              <div class="control" [ngClass]="username?.value.length === 0 ? '' : 'filled'">
                  <input type="text" autocomplete="off" name="x" formControlName="username">
                  <label for="name">Gebruikersnaam</label>
              </div>
              <div class="control" [ngClass]="password?.value.length === 0 ? '' : 'filled'">
                <input type="password" autocomplete="new-password" name="x" formControlName="password">
                <label for="name">Paswoord</label>
              </div>
              <button type="submit" class="next" >{{ 'create' | translate }}</button>
          </div>
      </form>
  </div>

</div>

