<div class="">
  <div class="">List of uploads</div>
  <div class="grid">


    <div class="photo-row" *ngFor="let photo of photos | async">
      <div>
        <a (click)="downloadImage(photo.organisationID, photo.filename)">
          <img src="https://eterios.ams3.digitaloceanspaces.com/{{ photo.organisationID }}/thumbnail-250/{{ photo.filename }}" width="40" height="40" alt="{{ photo.filename }}"/>
        </a>
      </div>
      <div class="filename">{{ photo.filename }}</div>
      <div class="created">{{ photo.uploaded | date:"dd-MM-yyyy HH:mm" }}</div>
      <div class="size">--</div>
      <div class="uploader">{{ photo.name }}</div>
      <div><i class="fas fa-ellipsis-h"></i></div>
    </div>
  </div>
</div>
