agm-map {
  width: 800px;
  height: 400px;
  margin: 50px 25px;
}

.agm-map-container-inner {
  margin: 200px auto;
  border-radius: 30px !important;
}


.bg,
.button {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.bg {
  animation: pulse 1.2s ease infinite;

}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}
.one {
  background: #e72b35;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}








@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
